body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
  padding: 20px;
}

h1, h2 {
  text-align: center;
}

form {
  background: #fff;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 10px;
}

input, select, button {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
}

button {
  background: #007aff;
  color: white;
  border: none;
  border-radius: 5px;
}

button.danger {
  background: #d9534f;
}

li {
  background: #fff;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 5px;
}

.vencido {
  background: #ffd6d6;
}

.pago {
  background: #d6ffd6;
  text-decoration: line-through;
}
